:root {
    --cell-size: 64px;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background: #68a5c8;
    font-size: 16px;
  }
  .board-container {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    list-style-type: none;
  }
  
  .cell {
    position: relative;
    height: 100px;
    width: 100px;
    background: center/150% #68a5c8  url("../img/Circle.png") ;
    border-radius: 50%;
  }
  .character {
    position: absolute;
    height: 100px;
    width: 100px;
    background: center/110%  url("../img/goblin.png");
  }
  .character:hover {
    cursor: url("../img/Hammer.cur"), auto;
  }